<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slave.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Slave.Core.Slaves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SampleNotifyIconApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slave.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Slave.Core.Slaves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Slave.Core.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>150, 20</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>#e5e5ea</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>#1b1e23</value>
            </setting>
            <setting name="TypeWordHotKey" serializeAs="String">
                <value>AltBksp</value>
            </setting>
            <setting name="AddWordHotKey" serializeAs="String">
                <value>CtrlF11</value>
            </setting>
            <setting name="RunAtWindowsStart" serializeAs="String">
                <value>True</value>
            </setting>
        </Slave.Core.Properties.Settings>
        <Slave.Core.Slaves.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>250, 40</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>#e5e5ea</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>#1b1e23</value>
            </setting>
            <setting name="TypeWordHotKey" serializeAs="String">
                <value>AltBksp</value>
            </setting>
            <setting name="AddWordHotKey" serializeAs="String">
                <value>CtrlF11</value>
            </setting>
            <setting name="RunAtWindowsStart" serializeAs="String">
                <value>True</value>
            </setting>
        </Slave.Core.Slaves.Properties.Settings>
        <SampleNotifyIconApplication.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>250, 40</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>#e5e5ea</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>#1b1e23</value>
            </setting>
        </SampleNotifyIconApplication.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Slave.Core.Properties.Settings>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://google.com</value>
            </setting>
        </Slave.Core.Properties.Settings>
        <Slave.Core.Slaves.Properties.Settings>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://google.com</value>
            </setting>
        </Slave.Core.Slaves.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
